<!-- Author: Louis Ouellet - louis@laswitchtech.com -->
<!-- Title: Customs Consulting Agreement -->
<!-- Paper Size: US Letter -->
<!-- Width: 700px -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{title}}</title>
    </head>
    <body style="font-family: helvetica; font-size: 14px;width:700px;">
        <table width="700px"><tr><td width="700px" style="height: 150px;">&nbsp;</td></tr></table>
        <h1 style="margin-top: 0px; margin-bottom: 0px; text-align: center;">{{title}}</h1>
        <p style="margin-top: 4px; margin-bottom: 0px; text-align: center;">{{subject}}</p>
        <table width="700px" style="margin-top: 32px;">
            <tr>
                <td width="168px">&nbsp;</td>
                <td width="336px" style="padding: 4px 8px;">
                    <p style="margin: 0;font-size: 18px;"><strong>{{name}}</strong></p>
                    <p style="margin: 0;">{{address}}</p>
                    <p style="margin: 0;">{{city}}, {{country}}, {{state}}, {{zipcode}}</p>
                    <p style="margin: 0;">{{phone}}, {{tollfree}}</p>
                </td>
                <td width="168px">&nbsp;</td>
            </tr>
            <tr>
                <td width="168px">&nbsp;</td>
                <td width="336px" style="padding: 4px 8px;">
                    <h4 style="margin: 0; text-align:justify">and</h4>
                </td>
                <td width="168px">&nbsp;</td>
            </tr>
            <tr>
                <td width="168px">&nbsp;</td>
                <td width="336px" style="padding: 4px 8px;">
                    <p style="margin: 0;font-size: 18px;"><strong>{{organization.name}}</strong></p>
                    <p style="margin: 0;">{{organization.address}}</p>
                    <p style="margin: 0;">{{organization.city}}, {{organization.country}}, {{organization.state}}, {{organization.zipcode}}</p>
                    <p style="margin: 0;">{{organization.phone}}, {{organization.tollfree}}</p>
                </td>
                <td width="168px">&nbsp;</td>
            </tr>
        </table>
        <h2 style="margin-top: 32px; margin-bottom: 0px; text-align: justify;">1. Appointment and Authorization</h2>
        <p style="margin-top: 8px; margin-bottom: 0px; text-align: justify; line-height: 1.25;"><strong>{{name}}</strong> ("Client") hereby appoints <strong>{{organization.name}}</strong> ("Consultant") as agent. The Client agrees to provide all necessary information, documents, records, and authorizations, including the CARM Delegation, enabling the Consultant to apply for and recover overpaid duties and/or any other amounts credited or refunded by federal authorities and other 3rd-parties on behalf of the Client.</p>

        <h2 style="margin-top: 8px; margin-bottom: 0px; text-align: justify;">2. Fees and Payments</h2>
        <p style="margin-top: 8px; margin-bottom: 0px; text-align: justify; line-height: 1.25;">The Consultant will receive a fee equivalent to <strong>{{rate}}%</strong> of the amounts successfully recovered. Fees are payable to the Consultant upon receipt by the Client of credits or refunds issued by governing authorities and other 3rd-parties. If no recovery is made, no fees or expenses will be charged.</p>

        <h2 style="margin-top: 8px; margin-bottom: 0px; text-align: justify;">3. Amendments and Additional Services</h2>
        <p style="margin-top: 8px; margin-bottom: 0px; text-align: justify; line-height: 1.25;">The parties agree to consult with each other immediately prior to the commencement of the review process to determine in writing any work already underway that is to be specifically excluded from this Agreement. Additionally, any potential services beyond the scope of this Agreement, such as appeals before the Canadian International Trade Tribunal (C.I.T.T.) or other specialized services, will require a separate agreement clearly defining such services and applicable rates.</p>

        <h2 style="margin-top: 8px; margin-bottom: 0px; text-align: justify;">4. Confidentiality Commitment</h2>
        <p style="margin-top: 8px; margin-bottom: 0px; text-align: justify; line-height: 1.25;">Confidentiality obligations shall be governed by any existing Non-Disclosure Agreement (NDA) executed between the parties. If no separate NDA exists, the Consultant undertakes to keep all information confidential.</p>

        <div style="page-break-before: always;"></div>
        <table width="700px"><tr><td width="700px" style="height: 150px;">&nbsp;</td></tr></table>

        <h2 style="margin-top: 8px; margin-bottom: 0px; text-align: justify;">5. Duration</h2>
        <p style="margin-top: 8px; margin-bottom: 0px; text-align: justify; line-height: 1.25;">This Agreement remains in effect for both parties until all recovery actions related to duties paid on declarations made prior to any final decision date on such declarations covered under this Agreement have been fully processed by federal authorities, including the expiry of any applicable legislative period for appeals or reconsiderations. Confidentiality obligations continue as specified in any applicable NDA.</p>

        <h2 style="margin-top: 8px; margin-bottom: 0px; text-align: justify;">6. Re-assessment Clause</h2>
        <p style="margin-top: 8px; margin-bottom: 0px; text-align: justify; line-height: 1.25;">In the event that amounts recovered by the Consultant are reassessed by federal authorities, the Consultant agrees, after thorough review, to refund to the Client the portion of fees related to such reassessment. The Consultant will retain the right to appeal any reassessment subsequent to any previous refund.</p>

        <h2 style="margin-top: 8px; margin-bottom: 0px; text-align: justify;">7. Governing Law</h2>
        <p style="margin-top: 8px; margin-bottom: 0px; text-align: justify; line-height: 1.25;">This Agreement shall be governed by the laws of <strong>{{state}}</strong>, <strong>{{country}}</strong>.</p>

        <h2 style="margin-top: 8px; margin-bottom: 0px; text-align: justify;">8. Signatures</h2>
        <p style="margin-top: 8px; margin-bottom: 0px; text-align: justify; line-height: 1.25;">By signing below, both parties agree to the terms of this Customs Consulting Agreement.</p>
        <table width="700px" style="margin-top: 48px;">
            <tr>
                <td width="336px" style="padding: 4px 8px;">
                    <p style="margin: 0;font-size: 18px;"><strong>{{name}}</strong></p>
                    <p style="margin: 0;">{{address}}</p>
                    <p style="margin: 0;">{{city}}, {{country}}, {{state}}, {{zipcode}}</p>
                    <p style="margin: 0;">{{phone}}, {{tollfree}}</p>
                    <table width="336px" style="margin-top: 96px; border-top: 1px solid #000">
                        <tr>
                            <td width="336px" style="padding-left: 8px;">{{contact.name}} - {{contact.title}}</td>
                        </tr>
                    </table>
                    <table width="336px" style="margin-top: 24px;">
                        <tr>
                            <td width="336px" style="padding-left: 8px;">{{date}}</td>
                        </tr>
                        <tr>
                            <td width="336px" style="padding-left: 8px;border-top: 1px solid #000">Date</td>
                        </tr>
                    </table>
                </td>
                <td width="336px" style="padding: 4px 8px;">
                    <p style="margin: 0;font-size: 18px;"><strong>{{organization.name}}</strong></p>
                    <p style="margin: 0;">{{organization.address}}</p>
                    <p style="margin: 0;">{{organization.city}}, {{organization.country}}, {{organization.state}}, {{organization.zipcode}}</p>
                    <p style="margin: 0;">{{organization.phone}}, {{organization.tollfree}}</p>
                    <table width="336px" style="margin-top: 96px; border-top: 1px solid #000">
                        <tr>
                            <td width="336px" style="padding-left: 8px;">{{user.name}} - {{user.title}}</td>
                        </tr>
                    </table>
                    <table width="336px" style="margin-top: 24px;">
                        <tr>
                            <td width="336px" style="padding-left: 8px;">{{date}}</td>
                        </tr>
                        <tr>
                            <td width="336px" style="padding-left: 8px;border-top: 1px solid #000">Date</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </body>
</html>
