<!-- Author: Louis Ouellet - louis@laswitchtech.com -->
<!-- Title: Accord de Consultation en Douanes -->
<!-- Paper Size: US Letter -->
<!-- Width: 700px -->
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{{title}}</title>
    </head>
    <body style="font-family: helvetica; font-size: 14px;width:700px;">
        <table width="700px"><tr><td width="700px" style="height: 150px;">&nbsp;</td></tr></table>
        <h1 style="margin-top: 0px; margin-bottom: 0px; text-align: center;">{{title}}</h1>
        <p style="margin-top: 4px; margin-bottom: 0px; text-align: center;">{{subject}}</p>
        <table width="700px" style="margin-top: 32px;">
            <tr>
                <td width="168px">&nbsp;</td>
                <td width="336px" style="padding: 4px 8px;">
                    <p style="margin: 0;font-size: 18px;"><strong>{{name}}</strong></p>
                    <p style="margin: 0;">{{address}}</p>
                    <p style="margin: 0;">{{city}}, {{country}}, {{state}}, {{zipcode}}</p>
                    <p style="margin: 0;">{{phone}}, {{tollfree}}</p>
                </td>
                <td width="168px">&nbsp;</td>
            </tr>
            <tr>
                <td width="168px">&nbsp;</td>
                <td width="336px" style="padding: 4px 8px;">
                    <h4 style="margin: 0; text-align:justify">et</h4>
                </td>
                <td width="168px">&nbsp;</td>
            </tr>
            <tr>
                <td width="168px">&nbsp;</td>
                <td width="336px" style="padding: 4px 8px;">
                    <p style="margin: 0;font-size: 18px;"><strong>{{organization.name}}</strong></p>
                    <p style="margin: 0;">{{organization.address}}</p>
                    <p style="margin: 0;">{{organization.city}}, {{organization.country}}, {{organization.state}}, {{organization.zipcode}}</p>
                    <p style="margin: 0;">{{organization.phone}}, {{organization.tollfree}}</p>
                </td>
                <td width="168px">&nbsp;</td>
            </tr>
        </table>
        <h2 style="margin-top: 32px; margin-bottom: 0px; text-align: justify;">1. Mandat et autorisation</h2>
        <p style="margin-top: 8px; margin-bottom: 0px; text-align: justify; line-height: 1.25;"><strong>{{name}}</strong> (« Client ») désigne par les présentes <strong>{{organization.name}}</strong> (« Consultant ») à titre de mandataire. Le Client s'engage à fournir toutes les informations, documents, dossiers et autorisations nécessaires, incluant la délégation GCRA, afin de permettre au Consultant d'effectuer les démarches pour récupérer tout montant de droits payés en trop et/ou tout autre crédit ou remboursement accordé par les autorités fédérales ou tierces parties au bénéfice du Client.</p>

        <h2 style="margin-top: 8px; margin-bottom: 0px; text-align: justify;">2. Honoraires et paiements</h2>
        <p style="margin-top: 8px; margin-bottom: 0px; text-align: justify; line-height: 1.25;">Le Consultant recevra des honoraires équivalant à <strong>{{rate}}%</strong> des montants effectivement récupérés. Ces honoraires seront payables au Consultant dès la réception par le Client des crédits ou remboursements des autorités fédérales ou tierces parties. En l'absence de récupération, aucuns frais ni dépenses ne seront facturés.</p>

        <h2 style="margin-top: 8px; margin-bottom: 0px; text-align: justify;">3. Modifications et services additionnels</h2>
        <p style="margin-top: 8px; margin-bottom: 0px; text-align: justify; line-height: 1.25;">Les parties conviennent de se consulter immédiatement avant le début du processus de révision afin de déterminer par écrit tout travail déjà en cours devant être explicitement exclu de cette entente. Tout service potentiel dépassant le cadre de cette entente, tel que les appels devant le Tribunal canadien du commerce extérieur (TCCE) ou autres services spécialisés, devra faire l’objet d’une entente distincte définissant clairement les services visés ainsi que les taux applicables.</p>

        <h2 style="margin-top: 8px; margin-bottom: 0px; text-align: justify;">4. Engagement de confidentialité</h2>
        <p style="margin-top: 8px; margin-bottom: 0px; text-align: justify; line-height: 1.25;">Les obligations de confidentialité seront régies par toute entente de non-divulgation existante (NDA) entre les parties. En l'absence d'une telle entente, le Consultant s'engage à maintenir la confidentialité de toutes les informations.</p>

        <div style="page-break-before: always;"></div>
        <table width="700px"><tr><td width="700px" style="height: 150px;">&nbsp;</td></tr></table>

        <h2 style="margin-top: 8px; margin-bottom: 0px; text-align: justify;">5. Durée</h2>
        <p style="margin-top: 8px; margin-bottom: 0px; text-align: justify; line-height: 1.25;">Cette entente demeure en vigueur pour les deux parties jusqu'à l'aboutissement complet des démarches de récupération relatives aux déclarations antérieures couvertes par cette entente, incluant toute période législative d’appel ou de révision applicable. Les obligations de confidentialité se poursuivent conformément à toute NDA applicable.</p>

        <h2 style="margin-top: 8px; margin-bottom: 0px; text-align: justify;">6. Clause de recotisation</h2>
        <p style="margin-top: 8px; margin-bottom: 0px; text-align: justify; line-height: 1.25;">Advenant que les montants recouvrés par le Consultant soient recotisés par les autorités fédérales, le Consultant s’engage, après examen approprié, à rembourser au Client la portion des honoraires visée par cette recotisation. Le Consultant conserve le droit d’interjeter appel de toute recotisation après avoir effectué un remboursement.</p>

        <h2 style="margin-top: 8px; margin-bottom: 0px; text-align: justify;">7. Loi applicable</h2>
        <p style="margin-top: 8px; margin-bottom: 0px; text-align: justify; line-height: 1.25;">Cette entente est régie par les lois de <strong>{{state}}</strong>, <strong>{{country}}</strong>.</p>

        <h2 style="margin-top: 8px; margin-bottom: 0px; text-align: justify;">8. Signatures</h2>
        <p style="margin-top: 8px; margin-bottom: 0px; text-align: justify; line-height: 1.25;">En signant ci-dessous, les deux parties acceptent les termes de cette entente.</p>
        <table width="700px" style="margin-top: 48px;">
            <tr>
                <td width="336px" style="padding: 4px 8px;">
                    <p style="margin: 0;font-size: 18px;"><strong>{{name}}</strong></p>
                    <p style="margin: 0;">{{address}}</p>
                    <p style="margin: 0;">{{city}}, {{country}}, {{state}}, {{zipcode}}</p>
                    <p style="margin: 0;">{{phone}}, {{tollfree}}</p>
                    <table width="336px" style="margin-top: 96px; border-top: 1px solid #000">
                        <tr>
                            <td width="336px" style="padding-left: 8px;">{{contact.name}} - {{contact.title}}</td>
                        </tr>
                    </table>
                    <table width="336px" style="margin-top: 24px;">
                        <tr>
                            <td width="336px" style="padding-left: 8px;">{{date}}</td>
                        </tr>
                        <tr>
                            <td width="336px" style="padding-left: 8px;border-top: 1px solid #000">Date</td>
                        </tr>
                    </table>
                </td>
                <td width="336px" style="padding: 4px 8px;">
                    <p style="margin: 0;font-size: 18px;"><strong>{{organization.name}}</strong></p>
                    <p style="margin: 0;">{{organization.address}}</p>
                    <p style="margin: 0;">{{organization.city}}, {{organization.country}}, {{organization.state}}, {{organization.zipcode}}</p>
                    <p style="margin: 0;">{{organization.phone}}, {{organization.tollfree}}</p>
                    <table width="336px" style="margin-top: 96px; border-top: 1px solid #000">
                        <tr>
                            <td width="336px" style="padding-left: 8px;">{{user.name}} - {{user.title}}</td>
                        </tr>
                    </table>
                    <table width="336px" style="margin-top: 24px;">
                        <tr>
                            <td width="336px" style="padding-left: 8px;">{{date}}</td>
                        </tr>
                        <tr>
                            <td width="336px" style="padding-left: 8px;border-top: 1px solid #000">Date</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </body>
</html>
