<!-- Author: Louis Ouellet - louis@laswitchtech.com -->
<!-- Title: Letterhead -->
<!-- Paper Size: US Letter -->
<!-- Width: 700px -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Letterhead</title>
    </head>
    <body style="font-family: helvetica; font-size: 14px;width:700px;">
        <table width="700px">
            <tr>
                <td width="150px">
                    <img src="{{avatar}}" alt="Logo" width="150px" />
                </td>
                <td width="550px">
                    <p style="margin: 0;font-size: 18px;"><strong>{{name}}</strong></p>
                    <p style="margin: 0;">{{address}}</p>
                    <p style="margin: 0;">{{city}}, {{state}}, {{zipcode}}</p>
                    <p style="margin: 0;">{{phone}}, {{tollfree}}</p>
                </td>
            </tr>
        </table>
    </body>
</html>
