<!-- Author: Louis Ouellet - louis@laswitchtech.com -->
<!-- Title: Authorization Letter -->
<!-- Paper Size: US Letter -->
<!-- Width: 700px -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{title}}</title>
    </head>
    <body style="font-family: helvetica; font-size: 14px;width:700px;">
        <table width="700px"><tr><td width="700px" style="height: 150px;">&nbsp;</td></tr></table>
        <h1 style="margin-top: 0px; margin-bottom: 0px; text-align: center;">{{title}}</h1>
        <p style="margin-top: 4px; margin-bottom: 0px; text-align: center;">{{subject}}</p>
        <table width="700px" style="margin-top: 32px;">
            <tr>
                <td width="168px">&nbsp;</td>
                <td width="336px" style="padding: 4px 8px;">
                    <p style="margin: 0;font-size: 18px;"><strong>{{name}}</strong></p>
                    <p style="margin: 0;">{{address}}</p>
                    <p style="margin: 0;">{{city}}, {{country}}, {{state}}, {{zipcode}}</p>
                    <p style="margin: 0;">{{phone}}, {{tollfree}}</p>
                </td>
                <td width="168px">&nbsp;</td>
            </tr>
            <tr>
                <td width="168px">&nbsp;</td>
                <td width="336px" style="padding: 4px 8px;">
                    <h4 style="margin: 0; text-align:justify">and</h4>
                </td>
                <td width="168px">&nbsp;</td>
            </tr>
            <tr>
                <td width="168px">&nbsp;</td>
                <td width="336px" style="padding: 4px 8px;">
                    <p style="margin: 0;font-size: 18px;"><strong>{{organization_name}}</strong></p>
                    <p style="margin: 0;">{{organization_address}}</p>
                    <p style="margin: 0;">{{organization_city}}, {{organization_country}}, {{organization_state}}, {{organization_zipcode}}</p>
                    <p style="margin: 0;">{{organization_phone}}, {{organization_tollfree}}</p>
                </td>
                <td width="168px">&nbsp;</td>
            </tr>
        </table>
        <h2 style="margin-top: 32px; margin-bottom: 0px; text-align: justify;">1. Objet</h2>
        <p style="margin-top: 8px; margin-bottom: 0px; text-align: justify; line-height: 1.25;">Cet accord est conclu entre {{organization_name}} ("Consultant") et {{name}} ("Client"). L'objet de cet accord est de protéger les informations confidentielles partagées par le Client au cours du processus de revue visant à identifier des réclamations potentielles de droits de douane payés en trop.</p>
        <h2 style="margin-top: 8px; margin-bottom: 0px; text-align: justify;">2. Engagement de Confidentialité</h2>
        <p style="margin-top: 8px; margin-bottom: 0px; text-align: justify; line-height: 1.25;">Nous accordons une importance primordiale à la vie privée de nos clients. Toute information fournie par le Client, y compris, mais sans s'y limiter, les documents, données et communications, sera traitée avec le plus grand soin et la plus stricte confidentialité. Nous assurons au Client que toutes les informations partagées seront utilisées uniquement dans le but d'évaluer les réclamations de droits de douane et ne seront divulguées à aucun tiers sans consentement écrit explicite.</p>
        <h2 style="margin-top: 8px; margin-bottom: 0px; text-align: justify;">3. Utilisation des Informations</h2>
        <p style="margin-top: 8px; margin-bottom: 0px; text-align: justify; line-height: 1.25;">Le Consultant s'engage à utiliser les informations fournies uniquement dans le cadre de la prestation des services de consultation douanière et de l'identification des droits payés en trop. Aucune information ne sera utilisée à des fins autres que celles prévues dans le présent accord.</p>
        <h2 style="margin-top: 8px; margin-bottom: 0px; text-align: justify;">4. Non-Divulgation</h2>
        <p style="margin-top: 8px; margin-bottom: 0px; text-align: justify; line-height: 1.25;">Le Consultant s'engage à ne divulguer aucune information confidentielle à des tiers, sauf si requis par la loi ou avec le consentement préalable écrit du Client. Le Consultant prendra toutes les mesures raisonnables pour assurer la confidentialité des informations partagées.</p>
        <div style="page-break-before: always;"></div>
        <table width="700px"><tr><td width="700px" style="height: 150px;">&nbsp;</td></tr></table>
        <h2 style="margin-top: 8px; margin-bottom: 0px; text-align: justify;">5. Durée</h2>
        <p style="margin-top: 8px; margin-bottom: 0px; text-align: justify; line-height: 1.25;">Le présent accord restera en vigueur pendant toute la durée de la consultation et continuera indéfiniment pour toute information qui reste confidentielle.</p>
        <h2 style="margin-top: 8px; margin-bottom: 0px; text-align: justify;">6. Clause de Non-Responsabilité Légale</h2>
        <p style="margin-top: 8px; margin-bottom: 0px; text-align: justify; line-height: 1.25;">Le présent accord est destiné uniquement aux fins énoncées aux présentes et ne constitue pas un contrat exécutoire tant qu'il n'a pas été signé par les deux parties. Le Consultant ne donne aucune garantie, expresse ou implicite, quant à l'exactitude ou à l'exhaustivité des informations fournies par le Client, et le Client reconnaît que le Consultant ne sera pas tenu responsable des réclamations découlant de la confiance accordée à ces informations.</p>
        <h2 style="margin-top: 8px; margin-bottom: 0px; text-align: justify;">7. Loi Applicable</h2>
        <p style="margin-top: 8px; margin-bottom: 0px; text-align: justify; line-height: 1.25;">Le présent accord est régi par les lois de <strong>{{organization_country}}</strong>, <strong>{{organization_state}}</strong>.</p>
        <h2 style="margin-top: 8px; margin-bottom: 0px; text-align: justify;">8. Signatures</h2>
        <p style="margin-top: 8px; margin-bottom: 0px; text-align: justify; line-height: 1.25;">En signant ci-dessous, les deux parties acceptent les termes et conditions du présent accord de non-divulgation.</p>
        <table width="700px" style="margin-top: 48px;">
            <tr>
                <td width="336px" style="padding: 4px 8px;">
                    <p style="margin: 0;font-size: 18px;"><strong>{{name}}</strong></p>
                    <p style="margin: 0;">{{address}}</p>
                    <p style="margin: 0;">{{city}}, {{country}}, {{state}}, {{zipcode}}</p>
                    <p style="margin: 0;">{{phone}}, {{tollfree}}</p>
                    <table width="336px" style="margin-top: 96px; border-top: 1px solid #000">
                        <tr>
                            <td width="336px">{{contact_name}} - {{contact_title}}</td>
                        </tr>
                    </table>
                </td>
                <td width="336px" style="padding: 4px 8px;">
                    <p style="margin: 0;font-size: 18px;"><strong>{{organization_name}}</strong></p>
                    <p style="margin: 0;">{{organization_address}}</p>
                    <p style="margin: 0;">{{organization_city}}, {{organization_country}}, {{organization_state}}, {{organization_zipcode}}</p>
                    <p style="margin: 0;">{{organization_phone}}, {{organization_tollfree}}</p>
                    <table width="336px" style="margin-top: 96px; border-top: 1px solid #000">
                        <tr>
                            <td width="336px">{{user_name}} - {{user_title}}</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </body>
</html>
