<!-- Author: Louis Ouellet - louis@laswitchtech.com -->
<!-- Title: Power of Attorney -->
<!-- Paper Size: US Letter -->
<!-- Width: 700px -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Power of Attorney</title>
    </head>
    <body style="font-family: helvetica; font-size: 8px;width:700px;">
        <form>
            <table width="700px">
                <tr>
                    <td width="350px">&nbsp;</td>
                    <td width="350px" align="center">
                        <p style="margin: 0; font-size: 16px;"><strong>AGENCY AGREEMENT</strong></p>
                        <p style="margin: 0; font-size: 16px;"><strong>ENTENTE DE REPRÉSENTATION</strong></p>
                    </td>
                </tr>
            </table>
            <p style="width:700px;margin: 0;">The purpose of this form is to authorize: - La raison d'être de ce formulaire est d'autoriser :</p>
            <div style="width:700px;border: 1px solid #000;">
                <!-- Agent Details -->
                <p style="margin: 0; padding-top: 4px; padding-left: 4px;">1. Agent identification - Identification du mandataire</p>
                <table width="700px" border="0" cellpadding="0" cellspacing="0" style="margin: 0; padding-top: 4px; padding-left: 4px; border-bottom: 1px solid #000;">
                    <tr>
                        <td width="60px" style="vertical-align: top;">Name - Nom</td>
                        <td width="640px" style="border: 0; padding-top: 8px; padding-bottom: 4px; font-size: 14px;">{{organization_name}}</td>
                    </tr>
                </table>
                <table width="700px" border="0" cellpadding="0" cellspacing="0" style="margin: 0; padding-top: 4px; padding-left: 4px; border-bottom: 1px solid #000;">
                    <tr>
                        <td width="80px" style="vertical-align: top;">Address - Adresse</td>
                        <td width="620px" style="border: 0; padding-top: 8px; padding-bottom: 4px; font-size: 14px;">{{organization_address}}</td>
                    </tr>
                </table>
                <table width="700px" border="0" cellpadding="0" cellspacing="0" style="margin: 0; padding-left: 4px; border-bottom: 1px solid #000;">
                    <tr>
                        <td width="120px" style="vertical-align: top; padding-top: 4px;">City/Province - Ville/Province</td>
                        <td width="330px" style="border: 0; padding-top: 12px; padding-bottom: 4px; font-size: 14px;">{{organization_city}}, {{organization_state}}</td>
                        <td width="110px" style="border-left: 1px solid #000; vertical-align: top; padding-top: 4px; padding-left: 4px;">Postal code - Code postal</td>
                        <td width="160px" style="border: 0; padding-top: 12px; padding-bottom: 4px; font-size: 14px;">{{organization_zipcode}}</td>
                    </tr>
                </table>
                <table width="700px" border="0" cellpadding="0" cellspacing="0" style="margin: 0; padding-top: 4px; padding-left: 4px; border-bottom: 1px solid #000;">
                    <tr>
                        <td width="160px" style="vertical-align: top;">Business Number - Numéro d'entreprise</td>
                        <td width="540px" style="border: 0; padding-top: 8px; padding-bottom: 4px; font-size: 14px;">{{organization_businessNumber}}</td>
                    </tr>
                </table>
                <!-- Inclusions Details -->
                <p style="margin: 0; padding-top: 4px; padding-left: 4px;">2. To transact business on my behalf with the Canada Customs and Revenue Agency. Such business may include the following:</p>
                <p style="margin: 0; padding-left: 16px;">Afin de transiger à ma place avec l'Agence des douanes et du revenu du Canada. Ces transactions peuvent inclure:</p>
                <table width="700px" border="0" cellpadding="0" cellspacing="0" style="margin: 0; padding-top: 4px; padding-left: 4px;">
                    <tr>
                        <td width="20px" style="vertical-align: top;">a)</td>
                        <td width="20px" style="vertical-align: top;">
                            <table width="20px" height="20px" border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td style="border: 1px solid #000; text-align: center; vertical-align: middle;"><strong style="width: 20px; height: 20px; line-height: 20px;">X</strong></td>
                                </tr>
                            </table>
                        </td>
                        <td width="644px" style="padding-left: 12px;">
                            <p style="margin: 0;">Accounting and payment of duties in respect of imported goods released under section 32 of the Customs Act.</p>
                            <p style="margin: 0;"><strong>Note: Only a licensed customs broker can be authorized to act as the agent of an importer to account and pay duties under section 32 of the Customs Act.</strong></p>
                            <p style="margin: 0;">La déclaration en détail et le paiement des droits relativement aux marchandises dédouanées en vertu de l'article 32 de la Loi sur les douanes.</p>
                            <p style="margin: 0;"><strong>Note : Seul un courtier en douane agréé est autorisé à agir à titre de mandataire d'un importateur pour la déclaration en détail et le paiement des droits en vertu de l'article 32 de la Loi sur les douanes.</strong></p>
                            <table width="644px" border="0" cellpadding="0" cellspacing="0" style="margin: 0; padding-top: 4px; padding-left: 4px;">
                                <tr>
                                    <td width="20px" style="vertical-align: top;">
                                        <table width="20px" height="20px" border="0" cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td style="border: 1px solid #000; text-align: center; vertical-align: middle;"><strong style="width: 20px; height: 20px; line-height: 20px;">X</strong></td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td width="170px" style="padding-left: 12px;">
                                        <p style="margin: 0;">At the customs office(s) located in</p>
                                        <p style="margin: 0;">Au(x) bureau(x) de douane situé(s) à</p>
                                    </td>
                                    <td width="170px" style="padding-left: 12px; padding-right: 12px; border-bottom: 1px solid #000; text-align: center">
                                        <p style="margin: 0; font-size: 14px;">All CBSA Offices</p>
                                    </td>
                                    <td width="244px" style="padding-left: 12px;">
                                        <p style="margin: 0;">, in Canada.</p>
                                        <p style="margin: 0;">, au Canada.</p>
                                    </td>
                                </tr>
                            </table>
                            <table width="644px" border="0" cellpadding="0" cellspacing="0" style="margin: 0; padding-top: 4px; padding-left: 4px;">
                                <tr>
                                    <td width="20px" style="vertical-align: top;">
                                        <table width="20px" height="20px" border="0" cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td style="border: 1px solid #000; text-align: center; vertical-align: middle;"><strong style="width: 20px; height: 20px; line-height: 20px;">X</strong></td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td width="608px" style="padding-left: 12px;">
                                        <p style="margin: 0;">This authorization allows for the appointment of sub-agents.</p>
                                        <p style="margin: 0;">La présente autorisation permet la nomination de sous-mandataires.</p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <table width="700px" border="0" cellpadding="0" cellspacing="0" style="margin: 0; padding-top: 4px; padding-left: 4px;">
                    <tr>
                        <td width="20px" style="vertical-align: top;">b)</td>
                        <td width="20px" style="vertical-align: top;">
                            <table width="20px" height="20px" border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td style="border: 1px solid #000; text-align: center; vertical-align: middle;"><strong style="width: 20px; height: 20px; line-height: 20px;">X</strong></td>
                                </tr>
                            </table>
                        </td>
                        <td width="660px" style="padding-left: 12px;">
                            <p style="margin: 0;">Processing of refunds and other adjustments.</p>
                            <p style="margin: 0;">Le traitement des remboursements et d'autres rajustements.</p>
                        </td>
                    </tr>
                </table>
                <table width="700px" border="0" cellpadding="0" cellspacing="0" style="margin: 0; padding-top: 4px; padding-left: 4px;">
                    <tr>
                        <td width="20px" style="vertical-align: top;">c)</td>
                        <td width="20px" style="vertical-align: top;">
                            <table width="20px" height="20px" border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td style="border: 1px solid #000; text-align: center; vertical-align: middle;"><strong style="width: 20px; height: 20px; line-height: 20px;">X</strong></td>
                                </tr>
                            </table>
                        </td>
                        <td width="660px" style="padding-left: 12px;">
                            <p style="margin: 0;">Accessing Business Number import/export account(s) information.</p>
                            <p style="margin: 0;">L'accès aux renseignements liés au(x) compte(s) des importations-exportations du numéro d'entreprise.</p>
                        </td>
                    </tr>
                </table>
                <table width="700px" border="0" cellpadding="0" cellspacing="0" style="margin: 0; padding-top: 4px; padding-left: 4px;">
                    <tr>
                        <td width="20px" style="vertical-align: top;">d)</td>
                        <td width="20px" style="vertical-align: top;">
                            <table width="20px" height="20px" border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td style="border: 1px solid #000; text-align: center; vertical-align: middle;"><strong style="width: 20px; height: 20px; line-height: 20px;">&nbsp;</strong></td>
                                </tr>
                            </table>
                        </td>
                        <td width="120px" style="padding-left: 12px;">
                            <p style="margin: 0;">Other (please specify)</p>
                            <p style="margin: 0;">Autres (veuillez préciser)</p>
                        </td>
                        <td width="400px" style="border-bottom: 1px solid #000;">&nbsp;</td>
                        <td width="140px">&nbsp;</td>
                    </tr>
                </table>
                <p style="margin: 0; padding-top: 4px; padding-left: 4px;">
                    <strong style="padding-right: 8px;">•</strong><strong>An agent is considered in law to represent the principal, in such a way as to be able to affect the principal's legal position. However, the principal remains liable for any transactions completed on its behalf by its agent.</strong>
                </p>
                <p style="margin: 0; padding-bottom: 4px; padding-left: 4px; border-bottom: 1px solid #000;">
                    <strong style="padding-right: 8px;">•</strong><strong>Un mandataire est considéré en droit de représenter le mandant, de manière à être capable d'influencer la situation juridique de ce dernier. Cependant, le mandant demeure responsable de toute transaction effectuée en son nom par son mandataire.</strong>
                </p>
                <!-- Validity Details -->
                <p style="margin: 0; padding-top: 4px; padding-left: 4px;">3. This agreement shall be valid - Cette entente sera en vigueur</p>
                <table width="700px" border="0" cellpadding="0" cellspacing="0" style="margin: 0; padding-top: 4px; padding-left: 4px;">
                    <tr>
                        <td width="20px" style="vertical-align: top;"></td>
                        <td width="20px" style="vertical-align: top;">
                            <table width="20px" height="20px" border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td style="border: 1px solid #000; text-align: center; vertical-align: middle;"><strong style="width: 20px; height: 20px; line-height: 20px;">X</strong></td>
                                </tr>
                            </table>
                        </td>
                        <td width="150px" style="padding-left: 12px;">
                            <p style="margin: 0;">Continuously - Effective on the</p>
                            <p style="margin: 0;">en tout temps - à compter du</p>
                        </td>
                        <td width="150px" style="padding-left: 12px; padding-right: 12px; padding-bottom: 6px; border: 1px solid #000; border-top: 0; text-align: center;">
                            <p style="margin: 0; font-size: 14px;">{{date}}</p>
                        </td>
                        <td width="324px">&nbsp;</td>
                    </tr>
                </table>
                <table width="700px" border="0" cellpadding="0" cellspacing="0" style="margin: 0; padding-top: 4px; padding-bottom: 4px; padding-left: 4px; border-bottom: 1px solid #000;">
                    <tr>
                        <td width="20px" style="vertical-align: top;"></td>
                        <td width="20px" style="vertical-align: top;">
                            <table width="20px" height="20px" border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td style="border: 1px solid #000; text-align: center; vertical-align: middle;"><strong style="width: 20px; height: 20px; line-height: 20px;">&nbsp;</strong></td>
                                </tr>
                            </table>
                        </td>
                        <td width="180px" style="padding-left: 12px;">
                            <p style="margin: 0;">For a specified period - Commencing on the</p>
                            <p style="margin: 0;">pour une période déterminée, commençant le</p>
                        </td>
                        <td width="150px" style="padding-left: 12px; padding-right: 12px; padding-bottom: 6px; border: 1px solid #000; border-top: 0; text-align: center;">
                            <p style="margin: 0; font-size: 14px;">{{from}}</p>
                        </td>
                        <td width="100px" style="padding-left: 12px;">
                            <p style="margin: 0;">and terminating on the</p>
                            <p style="margin: 0;">et se terminant le</p>
                        </td>
                        <td width="150px" style="padding-left: 12px; padding-right: 12px; padding-bottom: 6px; border: 1px solid #000; border-top: 0; text-align: center;">
                            <p style="margin: 0; font-size: 14px;">{{until}}</p>
                        </td>
                        <td width="8px">&nbsp;</td>
                    </tr>
                </table>
                <!-- Principal Details -->
                <p style="margin: 0; padding-top: 4px; padding-left: 4px;">4. Principal (importer/owner) identification - Identification du mandant (importateur ou propriétaire)</p>
                <table width="700px" border="0" cellpadding="0" cellspacing="0" style="margin: 0; padding-top: 4px; padding-left: 4px; border-bottom: 1px solid #000;">
                    <tr>
                        <td width="60px" style="vertical-align: top;">Name - Nom</td>
                        <td width="640px" style="border: 0; padding-top: 8px; padding-bottom: 4px; font-size: 14px;">{{name}}</td>
                    </tr>
                </table>
                <table width="700px" border="0" cellpadding="0" cellspacing="0" style="margin: 0; padding-top: 4px; padding-left: 4px; border-bottom: 1px solid #000;">
                    <tr>
                        <td width="80px" style="vertical-align: top;">Address - Adresse</td>
                        <td width="620px" style="border: 0; padding-top: 8px; padding-bottom: 4px; font-size: 14px;">{{address}}</td>
                    </tr>
                </table>
                <table width="700px" border="0" cellpadding="0" cellspacing="0" style="margin: 0; padding-left: 4px; border-bottom: 1px solid #000;">
                    <tr>
                        <td width="120px" style="vertical-align: top; padding-top: 4px;">City/Province - Ville/Province</td>
                        <td width="330px" style="border: 0; padding-top: 12px; padding-bottom: 4px; font-size: 14px;">{{city}}, {{state}}</td>
                        <td width="110px" style="border-left: 1px solid #000; vertical-align: top; padding-top: 4px; padding-left: 4px;">Postal code - Code postal</td>
                        <td width="160px" style="border: 0; padding-top: 12px; padding-bottom: 4px; font-size: 14px;">{{zipcode}}</td>
                    </tr>
                </table>
                <table width="700px" border="0" cellpadding="0" cellspacing="0" style="margin: 0; padding-top: 4px; padding-left: 4px; border-bottom: 1px solid #000;">
                    <tr>
                        <td width="160px" style="vertical-align: top;">Business Number - Numéro d'entreprise</td>
                        <td width="540px" style="border: 0; padding-top: 8px; padding-bottom: 4px; font-size: 14px;">{{businessNumber}}RM{{importerNumber}}</td>
                    </tr>
                </table>
                <!-- Officer Details -->
                <p style="margin: 0; padding-top: 4px; padding-left: 4px;">5. Duly authorized officer of the principal - Représentant dûment autorisé du mandant</p>
                <table width="700px" border="0" cellpadding="0" cellspacing="0" style="margin: 0; padding: 4px; border-bottom: 1px solid #000;">
                    <tr>
                        <td width="300px" style="vertical-align: top;">Signature - Signature</td>
                        <td width="492px">
                            <table width="492px" border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td width="476px" style="border: 1px solid #000; padding: 4px 8px;">
                                        <input type="text" value="" name="contact_signature" style="width: 460px; font-size: 14px; padding: 4px 8px;" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <table width="700px" border="0" cellpadding="0" cellspacing="0" style="margin: 0; padding: 4px; border-bottom: 1px solid #000;">
                    <tr>
                        <td width="300px" style="vertical-align: top;">Name - Nom</td>
                        <td width="492px">
                            <table width="492px" border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td width="476px" style="border: 1px solid #000; padding: 4px 8px;">
                                        <input type="text" value="{{contact_name}}" name="contact_name" style="width: 460px; font-size: 14px; padding: 4px 8px;" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <table width="700px" border="0" cellpadding="0" cellspacing="0" style="margin: 0; padding: 4px; border-bottom: 1px solid #000;">
                    <tr>
                        <td width="300px" style="vertical-align: top;">Title or position - Titre ou poste</td>
                        <td width="492px">
                            <table width="492px" border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td width="476px" style="border: 1px solid #000; padding: 4px 8px;">
                                        <input type="text" value="{{contact_title}}" name="contact_title" style="width: 460px; font-size: 14px; padding: 4px 8px;" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <table width="700px" border="0" cellpadding="0" cellspacing="0" style="margin: 0; padding: 4px;">
                    <tr>
                        <td width="60px">
                            <p style="margin: 0;">Signed this</p>
                            <p style="margin: 0;">Fait le</p>
                        </td>
                        <td width="52px">
                            <table width="52px" border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td width="52px" style="border: 1px solid #000; padding: 4px 8px;">
                                        <input type="text" value="{{day}}" name="day" style="width: 36px; font-size: 14px; text-align: center; padding: 4px 8px;" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td width="36px" style="padding-left: 4px;">
                            <p style="margin: 0;">day of</p>
                            <p style="margin: 0;">jour de</p>
                        </td>
                        <td width="182px">
                            <table width="182px" border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td width="166px" style="border: 1px solid #000; padding: 4px 8px;">
                                        <input type="text" value="{{month}}" name="month" style="width: 150px; font-size: 14px; text-align: center; padding: 4px 8px;" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td width="20px" style="padding-left: 4px;">
                            <p style="margin: 0;">, 20</p>
                            <p style="margin: 0;">, 20</p>
                        </td>
                        <td width="44px">
                            <table width="44px" border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td width="36px" style="border: 1px solid #000; padding: 4px 8px;">
                                        <input type="text" value="{{year}}" name="year" style="width: 20px; font-size: 14px; text-align: center; padding: 4px 8px;" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td width="10px" style="padding-left: 4px;">
                            <p style="margin: 0;">.</p>
                            <p style="margin: 0;">.</p>
                        </td>
                        <td width="274px">&nbsp;</td>
                    </tr>
                </table>
            </div>
            <p style="width:700px;margin: 0;"><small style="padding-left: 4px;">E639</p>
        </form>
    </body>
</html>
